<nav class="admin-navbar">
  <h1>Leave Management System</h1>
  <ul>
    <li><a routerLink="/admin/leave-list"><i class="fas fa-list"></i> Leave List</a></li>
    <li><a routerLink="/admin/holiday"><i class="fas fa-calendar-alt"></i> Holidays</a></li>
    <li><a routerLink="/admin/leave-request"><i class="fas fa-envelope-open"></i> Leave Requests</a></li>
    <li><a routerLink="/admin/users"><i class="fas fa-user-plus"></i> Add Users</a></li>
    <li><a routerLink="/admin/user-list"><i class="fas fa-users"></i> Show Users</a></li>
    <li><a (click)="onLogoutClick()"><i class="fas fa-sign-out"></i> Logout</a></li>
  </ul>
</nav>
