<nav class="admin-navbar">
  <!-- this is logo or tittle -->
  <h1>Leave Management System</h1>

  <ul>
    <li><a routerLink="/leave-list"><i class="fa fa-list"></i> Leave List</a></li>

<li><a (click)="onNewLeaveClick()"><i class="fa fa-plus"></i> New Leave Request</a></li>

<li><a (click)="onLogoutClick()"><i class="fa fa-sign-out"></i> Logout</a></li>

    <!-- <li><a routerLink="/leave-list">Leave List</a></li>

    <li><a (click)="onNewLeaveClick()">New Leave Request</a></li>
    <li><a (click)="onLogoutClick()">Logout</a></li> -->
  </ul>
</nav>
